@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

h3 {
    font-family: Lato;
    text-transform: uppercase;
    color: #555555;
}

/*---------------------------- Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 1px;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/*---------------------------- Hero Image */

#hero-1 {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.3);
    }
}

/*---------------------------- Main Area */

#section-middle {
    padding: 20px 20px 10px 20px;
}

#flyer {
    width: 100% \9;
}

.middle-section {
    margin-left: 30px;
    margin-right: 30px;
}

.artist-credit {
    font-size: 13px;
}


/*---------------------------- Footer */

.form {
    border: solid 1px;
}

.social-links li a i {
    height: 32px;
    padding: 25px 0;
    font-size: 40px;
    line-height: 7px;
    color: #17a2b8;
}